@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?upuvln');
  src:  url('fonts/icomoon.eot?upuvln#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?upuvln') format('truetype'),
    url('fonts/icomoon.woff?upuvln') format('woff'),
    url('fonts/icomoon.svg?upuvln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightbulb1:before {
  content: "\e030";
}
.icon-info1:before {
  content: "\e917";
}
.icon-video:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-display:before {
  content: "\e90a";
}
.icon-location:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e920";
}
.icon-mail:before {
  content: "\e921";
}
.icon-like:before {
  content: "\e90c";
}
.icon-thermometer-half:before {
  content: "\e906";
}
.icon-smirking-face:before {
  content: "\e907";
}
.icon-upload:before {
  content: "\e90d";
}
.icon-save:before {
  content: "\e90d";
}
.icon-newspaper:before {
  content: "\e90e";
}
.icon-paper:before {
  content: "\e90e";
}
.icon-lightbulb:before {
  content: "\e90f";
}
.icon-light:before {
  content: "\e90f";
}
.icon-night:before {
  content: "\e90f";
}
.icon-idea:before {
  content: "\e90f";
}
.icon-thought:before {
  content: "\e90f";
}
.icon-map-pin:before {
  content: "\e905";
}
.icon-history:before {
  content: "\e918";
}
.icon-menu:before {
  content: "\e91f";
}
.icon-more-horizontal:before {
  content: "\e91d";
}
.icon-more-vertical:before {
  content: "\e91e";
}
.icon-user-minus:before {
  content: "\e919";
}
.icon-user-plus:before {
  content: "\e91a";
}
.icon-user-x:before {
  content: "\e91b";
}
.icon-video1:before {
  content: "\e910";
}
.icon-video-off:before {
  content: "\e91c";
}
.icon-chat:before {
  content: "\e911";
}
.icon-bubbl:before {
  content: "\e911";
}
.icon-commente:before {
  content: "\e911";
}
.icon-talk:before {
  content: "\e911";
}
.icon-info:before {
  content: "\e912";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-search:before {
  content: "\f002";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-L:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-camera:before {
  content: "\f030";
}
.icon-indent:before {
  content: "\f03c";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-upload1:before {
  content: "\f093";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-star-hempty:before {
  content: "\f123";
}
.icon-star-haalf-lf-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-exclamation-solid:before {
  content: "\e913";
}
.icon-shopping-cart:before {
  content: "\e914";
}
.icon-user-group:before {
  content: "\e915";
}
.icon-android:before {
  content: "\e904";
  color: #3ddc84;
}
.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-github:before {
  content: "\e922";
}
.icon-gmail:before {
  content: "\e903";
  color: #d14836;
}
.icon--div-classicons-i-classicon-githubi-spantop-destinationsspan-div:before {
  content: "\e925";
  color: #fb5bc5;
}
.icon-java:before {
  content: "\e923";
  color: #007396;
}
.icon-javascript:before {
  content: "\e924";
  color: #f7df1e;
}
.icon-linkedin:before {
  content: "\e901";
  color: #0077b5;
}
.icon-twitter:before {
  content: "\e902";
  color: #1da1f2;
}
.icon-youtube:before {
  content: "\e916";
  color: #f00;
}
